@page "/PeopleList"

<h3>PeopleList</h3>

@using TodoDataAccess
@using TodoDataAccess.Models
@using TodoDataAccess.DataAccess
@using Data.SqlDataAccess;
@using ViewModels;

@* Ensure you put the "I" here! the whole point of using the interface is to decouple the DB implementation from the UI. Also it won't work anyway. *@
@inject IPersonData _oldPersonData;
@*in this case you probably don't need an interface since it's specific to... actually do would*@ 
@inject PersonDataAccess _personData; 

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{


    @foreach (var p in people)
    {
        <ul>@p.LastName, @p.FirstName</ul>
    }



}

@code {
    List<PersonModel> people;

    protected async override Task OnInitializedAsync()
    {
        people = await _personData.GetPeople();
    }
}
