@page "/PeopleList"

<h3>PeopleList</h3>

@using TodoDataAccess
@using TodoDataAccess.Models
@using TodoDataAccess.DataAccess
@using Data.SqlDataAccess;
@using ViewModels;
@using TodoList.Data;

@* Ensure you put the "I" here! the whole point of using the interface is to decouple the DB implementation from the UI. Also it won't work anyway. *@
@*@inject IPersonDataAccess _personData;*@ 

@if (People == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>

    @foreach (var p in People)
    {
        <li>@p.LastName, @p.FirstName</li>
    }
    </ul>
}

@code {
    [Parameter]
    public IReadOnlyList<PersonModel> People { get; set; }

    //protected async override Task OnInitializedAsync()
    //{
    //    //People = await _personData.GetPeople();
    //}
}
