@page "/PeopleList"

<h3>PeopleList</h3>

@using TodoDataAccess
@using TodoDataAccess.Models
@using TodoDataAccess.DataAccess
@* Ensure you put the "I" here! the whole point of using the interface is to decouple the DB implementation from the UI. Also it won't work anyway. *@
@inject IPersonData _personData;

@if(people == null) {
    <p><em>Loading...</em></p>
}
else
{

<li>
    @foreach(var p in people)
    {
        <ul>@p.LastName, @p.FirstName</ul>
    }


</li>
}

@code {
    List<Person> people;

    protected async override Task OnInitializedAsync()
    {
        people = await _personData.GetPeople();
    }
}
