@*@page "/TodoItem"

@using TodoDataAccess
@using TodoDataAccess.Models
@using TodoDataAccess.DataAccess


<h3>TodoItem</h3>


@code {      
    List<Person> people;

    protected override Task OnInitializedAsync()
    {
        people = 
    }
}*@
